{% extends 'base.html' %}

{% block title %}注文確認{% endblock title %}

{% block content %}
<h2>カート</h2>

{% for item in cart_items %}
<div class="cart-body mx-3">
    <p>{{ item.product.name }} : {{ item.quantity }}個</p>
    <p>小計:{{ item.subtotal }}p</p>
    {% endfor %}
    <h3>合計:{{ total_price }}p</h3>
</div>
<!-- form Djangoに送るための封筒のようなもの -->
<form method="post">
{% csrf_token %}
<label for="table_number">卓番号</label>
<select name="table_number">
    {% for number in table_range %}
    <option value="{{ number }}">{{ number }}</option>
    {% endfor %}
</select>
<div>
    <label for="staff">担当スタッフ</label>
    <div class="d-flex flex-wrap gap-2">
        {% for staff in staff_list %}
        <div class="d-flex flex-column">
            <img src="{{ staff.photo.url }}" alt="写メ" class="img-photo">
            <input type="radio" name="staff" id="staff-{{ staff.id }}" value="{{ staff.id }}" class="btn-check" required>
            <label for="staff-{{ staff.id }}" class="btn btn-outline-primary">{{ staff.name }}</label>
        </div>   
        {% endfor %}
    </div>
</div>
<button type="submit" class="btn btn-primary">注文を確定する</button>
</form>
{% endblock content %}