{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}BAR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar navber-dark bg-success sticky-top">
        <h2 class="mx-5">BAR</h2>
        <div class="navber-nav d-flex flex-row ms-auto">
        <a class="nav-link mx-3" href="{% url 'product' %}">商品一覧</a>
        <a class="nav-link mx-3" href="{% url 'cart' %}">カート</a>
        </div>
        <div class="p-4">
        <h1>{% block h1 %}{% endblock %}</h1>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <!-- トースト通知 -->
    <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
        <!-- これはどこに表示するか、外側の枠を決めてる -->
        <div id="mainToast" class="toast align-items-center text-bg-primary border-0" role="alert">
            <!-- これは中身 -->
            <div class="d-flex">
                <div class="toast-body" id="toastMessage"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
                <!-- 閉じるボタン -->
            </div>
        </div>
    </div>
</body>
<script>
    function addToCart(productID, quantity) {
        fetch('/cart/add/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
                product_id: productID,
                quantity: quantity
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status == "error"){
                    showToast(data.message);
                    return;
                }
                sessionStorage.setItem('toastMessage', 'カートに追加しました');
                window.location.href = "/product/";
            })
    }
    function updateCart(product_Id, quantity) {
        fetch('/cart/update/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
                product_id: product_Id,
                quantity: quantity
            })
        })
            .then(response => response.json())
            .then(data => {
                location.reload(); // ページを再読み込みする
            });
    }
    function removeFromCart(productId) {
        const confirmation = confirm('本当に削除しますか？');
        if (!confirmation) {
            return;  // キャンセルされたら、ここで処理を止める
        }
        fetch('/cart/remove/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
                product_id: productId
            })
        })
            .then(response => response.json())
            .then(data => {
                // ここはリロードするため、データを持ち越す必要がある
                location.reload();
            });
    }
    // データそのものの扱い
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
                cookie = cookie.trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // トースト通知
    function showToast(message){
        const toastEl = document.getElementById('mainToast');
        const toastMessage = document.getElementById('toastMessage');
        toastMessage.textContent = message;
        const toast =new bootstrap.Toast(toastEl)
        // 新たにオブジェクトを作るnew。だから.show()機能が存在する
        toast.show();//自動的に消すという動きも
    }
    // ページを読み込むまで待つ、このページを予約しておく
    window.addEventListener('DOMContentLoaded', function() {
    const message = sessionStorage.getItem('toastMessage');
    if (message) {
        showToast(message);
        sessionStorage.removeItem('toastMessage');
    }
});
</script>

</html>